@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

body {
  background-image: url(https://i.ibb.co/q5hSZy9/light-g0b226b875-1920.jpg);
  background-size: cover;
  height: 100vh;
}

h1 {
  font-family: 'Coiny', sans-serif;
  font-size: 75px;
  text-align: left;
  position: fixed;
  top: 200px;
  left: 50px;
  color: rgb(251, 0, 255);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 20px #0fa,
    0 0 40px #0fa,
    0 0 35px #0fa,
    0 0 50px #0fa,
    0 0 90px #0fa;
}

#allInstruments {
  display: grid;
  justify-content: right;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  column-gap: 50px;
  row-gap: 50px;
  padding: 8em 10em;
}

#micImage {
  background-image: url("https://i.ibb.co/m5v5nB2/MIC.png");
  background-position: center;
  background-color: transparent;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

#keysImage {
  background-image: url("https://i.ibb.co/ccxW7pk/KEYS.png");
  background-position: center;
  background-color: transparent;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

#guitarImage {
  background-image: url("https://i.ibb.co/4wLb14R/GUITAR.png");
  background-position: center;
  background-color: transparent;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

#drumsImage {
  background-image: url("https://i.ibb.co/80QkYKM/DRUMS.png");
  background-position: center;
  background-color: transparent;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

.startGame {
  font-family: 'Coiny', sans-serif;
  font-size: 20px;
  background-color: white;
  position: fixed;
  top: 400px;
  left: 50px;
}